body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(96, 87, 87);
    text-align: center;
    color: antiquewhite;
}

div.navLinks {
    font-family: 'Times New Roman', Times, serif;
    border:rgb(18, 16, 14);
    border-style: dotted;
    border-bottom: .5em;
    border-top: .5em;
    border-bottom-style: groove;
    border-bottom-color: rgb(18, 16, 14);
    padding-bottom: .5em;
}

div.rescues {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
}

.adoptedBtn{
    border-radius: 12px;
}

.dogShow{
    display:inline-flexbox;
    
}