body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(96, 87, 87);
    text-align: center;
    color: antiquewhite;
}

div.navLinks {
    font-family: 'Times New Roman', Times, serif;
    border:rgb(235, 216, 190);
    border-style: dotted;
    border-bottom: .5em;
    border-top: .5em;
    border-bottom-style: groove;
    padding-bottom: .5em;
}

div.rescues {
    border: .5cm;
    border-color: darkolivegreen;
    border-style: ridge;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    
}